.mb-40 {
    margin: 15px;
    padding: 0px;
}

.card-st {
    width: 250px;
    display: inline-block;
    margin-right:20px;
}
.inner-card {
    border-radius: 9px;
    height: 160px;
}

.inner-editable-card {
    border-radius: 9px;
    height: 240px;
    width: 100%;
    border: 1px solid #D8D8D8;
}

div.inner-editable-card img {
    width: 50%;
    height: 100%;
}

.full-img {
    width: 100% !important;
}

div.inner-card img {
    width: 50%;
    height: 100%;
}
.outer-div {
    overflow-x: auto;
    overflow-y: hidden; 
    margin-left:20px;
}

.inner-div {
    width: max-content;
}
.outer-div::-webkit-scrollbar {
    width: 5px;
    height: 13px;
}

/* Track */
.outer-div::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 3px grey; 
    border-radius: 4px; */
    background: white;
    border: 1px solid black;
    border-radius: 9px;
}

/* Handle */
.outer-div::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 9px;
    width: 30px;
}

/* Handle on hover */
.outer-div::-webkit-scrollbar-thumb:hover {
    background: #979698; 
}

.card-border {
    border: 1px solid red;
    border-radius: 9px;
}

.x-col-btn {
    position: absolute;
    left: 60%;
    top: 35%;
    color: orange;
    cursor: pointer;
    font-size: 40px;
    z-index: 999;
}

.doc-trash-icon {
    position: absolute;
    left: 64%;
    top: 47%;
    cursor: pointer;
    z-index: 999;
}

.doc-edit-icon {
    position: absolute;
    left: 43%;
    top: 47%;
    cursor: pointer;
    z-index: 999;
}

.doc-open-icon {
    position: absolute;
    left: 38%;
    top: 30%;
    cursor: pointer;
    z-index: 999;
    background: rgb(171, 0, 51) !important;
    color: white;
    border-radius: 9px;
    padding: .375rem .75rem;
    font-size: 1rem;
    cursor: pointer;
    border: 0;
}

.col-open-icon {
    position: absolute;
    left: 25%;
    top: 41%;
    cursor: pointer;
    z-index: 999;
    background: rgb(171, 0, 51) !important;
    color: white;
    border-radius: 9px;
    padding: .375rem .75rem;
    font-size: 1rem;
    cursor: pointer;
    border: 0;
}

.doc-preview-icon {
    position: absolute;
    left: 22%;
    top: 47%;
    cursor: pointer;
    z-index: 999;
}
.ic-w100 {
    width: 100% !important;
}

.edit-col-btn {
    position: absolute;
    left: 30%;
    top: 35%;
    color: orange;
    cursor: pointer;
    font-size: 40px;
    z-index: 999;
}
.f-row {
    height: 50%;
    border-bottom: 1px solid #E9E9E9;
}

.s-row {
    height: 50%;
}

.img1 {
    border-right: 1px solid #E9E9E9;
    border-top-left-radius: 9px;
}

.img2 {
    border-top-right-radius: 9px;
}

.edit_col-img3 {
    border-right: 1px solid #E9E9E9;
    border-bottom-left-radius: 9px;
}

.edit_col-img4 {
    border-right: 1px solid #E9E9E9;
    border-bottom-right-radius: 9px;
}