.quick-view-btn {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 40%;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 999;
  }
.view-btn {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 40%;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 999;
}

.display-none {
    display: none;
}
.top-col-image {
    filter: none;
    -webkit-filter: grayscale(0%);
    -webkit-transition: all .6s ease; 
    -webkit-backface-visibility: hidden; 
    background-color: #D8D8D8;
    border-radius: 9px;
    border: 1px solid #D8D8D8;
}
div.top-col-image:after {
    content:'';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    border-radius:9px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
div.top-col-image:hover:after {
    opacity:1;
    padding: 0 15px;
}
div.grayscale {
    filter: none;
    -webkit-filter: grayscale(0%);
    -webkit-transition: all .6s ease; 
    -webkit-backface-visibility: hidden; 
    /* background-color: #D8D8D8; */
    background-color: #E9E9E9;
    border-radius: 9px;
    border: 1px solid #D8D8D8;
    margin: 20px;
    display: flex; 
    flex-direction: column;
}
div.grayscale:after {
    content:'';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    border-radius:9px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    display: flex; 
    flex-direction: column;
}
div.grayscale:hover:after {
    opacity:1;
    padding: 0 15px;
}
.col-md-3{
    padding:0px !important;
}
.title-bar{
    background-color: #D8D8D8; 
    border-radius: 0 0 9px 9px;
    flex-grow: 1;
}
.img-panel{
    border-radius: 9px 9px 0 0;
    height: 240px;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.img-panel img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.img-panel-new {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px 9px 0 0;
    height: 240px;
    overflow: hidden;
}

.btn-container {
    position: absolute;
    bottom: 0px;
}
.new-doc-card-container {
    filter: none;
    -webkit-filter: grayscale(0%);
    -webkit-transition: all .6s ease; 
    -webkit-backface-visibility: hidden; 
    background-color: #E9E9E9;
    border-radius: 9px;
    border: 1px solid #D8D8D8;
    margin: 20px;
    display: flex; 
    flex-direction: column;
}

.info-section {
    margin-top: 30px;
    padding: 0px 20px 20px 30px;
}

.modal-img {
    margin:30px 20px 20px 20px;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.header-info {
    border-bottom: 1px solid #D8D8D8;
}

.modal-general-tag {
    background-color: rgb(255, 225, 140);
    border-radius: 9px;
    padding:10px;
    margin-right: 5px;
}

.modal-st-tag {
    background-color: #E9E9E9;
    border-radius: 9px;
    padding:10px;
    margin-right: 5px;
}

.btn-small {
    font-size: 12px;
}

.btn-small1 {
    font-size: 12px;
    margin: 8px 0 0 10px;
}

.web-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 9px;
    border: 1px solid grey;
    margin: 0 auto;
}

.col-title {
    border-radius: 9px;
    border: 1px solid #979797;
    padding: 5px;
    margin-bottom: 20px;
    width: 60%;
}

.icon-img-div {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.icon-img-div img {
    width: auto !important;
    height: auto !important;
}
.icon-img {
    margin: 0 auto;
}

.col-title:hover {
    cursor: pointer;
}

.x-doc-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    color: orange;
    cursor: pointer;
    font-size: 40px;
    z-index: 999;
}