
input[type="text"] {
    padding-left: 10px;
    height: 43px;
    color: #212529;
    width: 100%;
}

.row {
    margin:0px;
}
.drive-container {
    max-width: 1234px;
}

.test {
    border-radius: 0%;
    background-color: #D8D8D8;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right-color: #979797;
    color: #9B9B9B;
}

.test:last-child {
    border-radius: 0%;
    background-color: #D8D8D8;
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.standard-title p {
        display: inline;
        font-size: 14px;
}

.btn-plus{
    border: none;
    background-color: transparent;
}

div.dd-wrapper {
    font-size: 18px;
    width: 100%;
}
div.dd-wrapper div.dd-header {
    border-radius: 5px ;
    border: 1px solid #979797;
}

div.dd-wrapper ul.dd-list {
    padding: 5px;
    font-weight: 300;
}
ul.dd-list {
    position: static !important;
}
div.dd-wrapper div.dd-header-title {
    margin-left: 10px;
}
div.dd-wrapper li.dd-list-item {
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}
div.dd-wrapper li.dd-list-item:hover {
    background-color: rgb(184, 207, 225);
    color: black;
}

div.square a {
    width: 100%;
    height: 100%;
}

div.square-new .new-a {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.f-25 {
    font-size: 25px;
}

.f-20 {
    font-size: 20px;
}


.thumbnail_image {
    margin: 0 auto;
    display: block;
    border-radius: 9px;
    border: 1px solid grey;
}
.thumbnail_text {
    margin-top: 25px;
    text-align: center;
}
.spinner-padding {
    padding-left: 50%;
    padding-top: 20%;
}
.tooltip-icon {
    float: right;
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
}

.__react_component_tooltip.type-dark {
    background-color: rgb(238, 238, 238);
    color: black;
}

.fixed-tooltip {
    width: 200px;
    height: 150px;
    text-overflow: ellipsis;
}

.thumbnail-wrapper {
    width: 320px;
    height: 450px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}

.w-60 {
    max-width: 80%;
}

.b-1 {
    border: 1px solid #979797;
    border-radius: 9px;
}

.p-l43-t60 {
    padding-left: 43%;
    padding-top: 60%;
}

.form-error.form-message {
    color: #D50000;
    font-weight: 700;
    font-size: 13px;
    text-align: left !important;
    
}

.form-message {
    margin-top: 10px;
    font-size: 12px;
    display: block;
    padding-left: 2px;
}

.air-icon-exclamation-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: white !important;
    background-color: red !important;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 10px;
}
