
p.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #4A4A4A;
}

p.text-resource{
    font-size: 18px;
    color: #4A4A4A;
}

p.text-collections {
    font-size: 20px;
    color: #4A4A4A;
}

.btn-plus{
    border: none;
    background-color: transparent;
}

.fa-plus {
    color: white;
    width: 81px;
    height: 81px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    font-size: 40px;
}

.login-info-sharing {
    width: 75%;
    font-size: 20px;
    color: #4A4A4A;
}

.modal-login-logo__image {
    width: 40%;
}
