html, body {
    height: 100%;
    font-size: 100% !important;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pt-9 {
    padding-top: 9%;
}

.w-32 {
    width: 32% !important;
    padding: 40px 0px;
}

.w-100 {
    width: 100% !important;
    padding: 40px 0px;
}

.login-logo__image {
    width: 60%;
}

.login-logo__image1 {
    width: 33%;
}

.login-info {
    width: 270px;
    font-size: 20px;
    color: #4A4A4A;
    font-family: 300;
}

.buttons-sign__in, .buttons-sign__up {
    display: block;
    width: 220px;
}

.buttons a{
    color: #000000;
    text-decoration: none;
}
