container-width {
    max-width: 1227 px;
}



a{
    color: #000000;
}


.lg-p {
    font-size: 30px;
    color: #AB0033;
    font-weight: 700;
    margin-bottom: 0px;
}

.md-p {
    font-size: 24px;
    color: #4A4A4A;
    font-weight: 300;
}

.gn-mg {
    margin: 30px 30px 30px 70px;
}

.search-btn {
    border-radius: 9px;
    margin-left: 10px;
}

.fa-search {
    font-size: 20px;
    color: white !important;
}

.search-query {
    border-radius: 9px !important;
}


.sh-p {
    border-radius: 9px;
    border: 1px solid #979797;
    word-break: break-all;
    padding: 5px 5px 5px 10px;
}


