/* Example Styles for React Tags*/
#app {
    padding: 40px;
  }
  
  div.ReactTags__tags {
      position: relative;
      text-align: left !important;
  }
  
  /* Styles for the input */
  div.ReactTags__tagInput {
      width: 100%;
      border-radius: 2px;
      display: inline-block;
      margin-top: 10px;
  }
  div.ReactTags__tagInput input.ReactTags__tagInputField,
  div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
      height: 40px;
      margin: 0;
      font-size: 18px;
      width: 100%;
      border: 1px solid #979797;
      padding: 0 4px;
  }
  
  /* Styles for selected tags */
  div.ReactTags__selected span.ReactTags__tag {
      border: 1px solid #ddd;
      background: rgb(255, 225, 140);
      font-size: 15px;
      display: inline-block;
      padding: 7px;
      margin: 0 5px;
      cursor: move;
      border-radius: 10px;
  }
  div.ReactTags__selected a.ReactTags__remove {
      color: #aaa;
      margin-left: 5px;
      cursor: pointer;
  }
  
  /* Styles for suggestions */
  div.ReactTags__suggestions {
      position: absolute;
      z-index: 999;
  }
  div.ReactTags__suggestions ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      box-shadow: .05em .01em .5em rgba(0,0,0,.2);
      background: white;
      width: 100%;
      text-align: left;
  }
  div.ReactTags__suggestions li {
      border-bottom: 1px solid #ddd;
      padding: 5px 20px;
      margin: 0;
  }
  div.ReactTags__suggestions li mark {
      text-decoration: underline;
      background: none;
      font-weight: 600;
  }
  div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
      background: #b7cfe0;
      cursor: pointer;
  }

div.react-autosuggest__suggestions-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 100%;
    text-align: left;
  }
div.react-autosuggest__suggestions-container li {
    border-bottom: 1px solid #ddd;
    padding: 5px 20px;
    margin: 0;
}

div.react-autosuggest__suggestions-container li:focus {
    border-bottom: 1px solid #ddd;
    padding: 5px 20px;
    margin: 0;
    background-color: rgb(184, 207, 225);
    cursor: pointer;
}

div.react-autosuggest__suggestions-container li:hover {
    border-bottom: 1px solid #ddd;
    padding: 5px 20px;
    margin: 0;
    background-color: rgb(184, 207, 225);
    cursor: pointer;
}
div.react-autosuggest__suggestions-container .small-font {
    font-size: 12px;
}
li.react-autosuggest__suggestion--highlighted {
    border-bottom: 1px solid #ddd;
    padding: 5px 20px;
    margin: 0;
    background-color: rgb(184, 207, 225);
    cursor: pointer;
}